@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --valid: #00cc00;
    --invalid: #e60000;
}

.clip-login {
    clip-path: polygon(0 0, 100% 170px, 100% 100%, 0% 100%);
}

.clip-register {
    clip-path: polygon(0 170px, 100% 0, 100% 100%, 0% 100%);
}

.input:invalid {
    border-color: var(--invalid);
}

.input:valid {
    border-color: var(--valid);
}

.input:placeholder-shown {
    border-color: white;
}

/* form:invalid [type="submit"] {
    background-color: grey;
} */
